<%- include('header') %>
<div class="container">
    <%- include('title') %>
    <div class="row">
        <div class="col-md-6 text-center">
            <a href="/users">
                <h3> Felhasználók </h3>
            </a>
        </div>
        <div class="col-md-6 text-center">
            <h3> Kisállatok </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Név</th>
                    <th>Faj</th>
                    <th>Gazda</th>
                    <th>Műveletek</th>
                </tr>
                </thead>
                <tbody>

                <% pets.forEach(function (pet) { %>
                <tr>
                    <td>
                        <%= pet.name %>
                    </td>
                    <td>
                        <%= pet.species %>
                    </td>
                    <td>
                        <%= users.filter(function (user) {
                            return user.id == pet._owner;
                        })[0].name %>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger"
                                    onclick="location.href='/pets/<%= pet._owner %>/<%= pet.id %>/delete'">
                                Törlés
                            </button>
                            <button type="button" class="btn btn-warning"
                                    onclick="location.href='/pets/<%= pet._owner %>/<%= pet.id %>/modify'">
                                Módosít
                            </button>
                        </div>
                    </td>
                </tr>
                <% }); %>

                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('footer') %>