<%- include('header') %>
<div class="container">
    <%- include('title') %>
    <div class="row">
        <div class="col-md-6 text-center">
            <h3> Felhasználók </h3>
        </div>
        <div class="col-md-6 text-center">
            <a href="/pets">
                <h3> Kisállatok </h3>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default" onclick="location.href='/users/new'">Új felhasználó
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Név</th>
                    <th>Műveletek</th>
                </tr>
                </thead>
                <tbody>

                <% users.forEach(function (user) { %>
                <tr>
                    <td>
                        <a href="/users/<%= user.id %>">
                            <%= user.name %>
                        </a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" onclick="location.href='/users/<%= user.id %>/delete'">Törlés</button>
                            <button type="button" class="btn btn-warning" onclick="location.href='/users/<%= user.id %>/modify'">
                                Módosít
                            </button>
                        </div>
                    </td>
                </tr>
                <% }); %>

                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('footer') %>