<%- include('header') %>
<div class="container">
    <%- include('title') %>
    <div class="row">
        <div class="col-md-12">
            <h3>
                <%= user.name + " adatai" %>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default" onclick="location.href='/users'">Vissza</button>
            <button type="button" class="btn btn-default" onclick="location.href='/users/<%= user.id %>/modify'">Módosítás</button>
            <button type="button" class="btn btn-default" onclick="location.href='/users/<%= user.id %>/delete'">Törlés</button>
            <button type="button" class="btn btn-default" onclick="location.href='/pets/<%= user.id %>/new'">Új kisállat</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Név</th>
                    <th>Faj</th>
                    <th>Műveletek</th>
                </tr>
                </thead>
                <tbody>

                <% pets.forEach(function (pet) { %>
                <tr>
                    <td>
                        <%= pet.name %>
                    </td>
                    <td>
                        <%= pet.species %>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" onclick="location.href='/pets/<%= user.id %>/<%= pet.id %>/delete'">
                                Törlés
                            </button>
                            <button type="but" class="btn btn-warning" onclick="location.href='/pets/<%= user.id %>/<%= pet.id %>/modify'">
                                Módosít
                            </button>
                        </div>
                    </td>
                </tr>
                <% }); %>
                
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('footer') %>