<%- include('header') %>
<div class="container">
    <%- include('title') %>
    <div class="row">
        <div class="col-md-12">
            <h3>
                <%= (typeof user !== 'undefined') ? user.name + " adatai" : 'Új felhasználó' %>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form method="POST">
                <div class="form-group">
                    <label for="name">Név</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= (typeof user !== 'undefined') ? user.name : '' %>"/>
                </div>
                <input type="submit" class="btn btn-primary" value="Kész"/>
            </form>
        </div>
    </div>
</div>
<%- include('footer') %>